
CREATE OR REPLACE FUNCTION NEWID ( actor TEXT, partition TEXT )
RETURNS text AS
$$
 SELECT CONCAT( $1, '-', nextval( $1 ), '-', $2 );
$$
LANGUAGE SQL;

CREATE OR REPLACE FUNCTION RESERVE( actor TEXT, partition TEXT, actor_object TEXT, action )
RETURNS text AS
$$
-- needs to be filled
$$
LANGUAGE SQL;
